services:
    kafka_broker:
      container_name: kafka_broker
      image: bitnamilegacy/kafka:latest
      user: "1001"
      environment:
        # --- Configurazione del ruolo e del cluster ---
        - KAFKA_CFG_NODE_ID=0
        - KAFKA_CLUSTER_ID=cluster-id
        - KAFKA_CFG_PROCESS_ROLES=controller,broker 

        # --- Configurazione dei listener ---
        - KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093,CONTROLLER://:9094 
        - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka_broker:9092,EXTERNAL://kafka_broker:9093
        - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT 
        - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT

        # --- Configurazione specifica del controller KRaft ---
        - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka_broker:9094 
        - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER       

        # --- Varie ---
        - ALLOW_PLAINTEXT_LISTENER=yes
        - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      volumes:
        - ./kafka_data:/bitnami/kafka
        - ./init-kafka.sh:/init-kafka.sh
      ports:
        - "9092:9092"
        - "9093:9093"
      healthcheck:
      # Il comando elenca i topic, filtra esattamente i due nomi e conta se sono 2
        test: 
          [
            "CMD-SHELL", 
            "kafka-topics.sh --bootstrap-server localhost:9092 --list | grep -xE 'sensors_data|alarms' | wc -l | grep -q '2'"
          ]
        interval: 10s
        timeout: 10s
        retries: 15
        start_period: 30s
      command: > # Lancio uno script che crea i topic
        bash -c "
          /opt/bitnami/scripts/kafka/entrypoint.sh /opt/bitnami/scripts/kafka/run.sh &
          pid=$$!;
          sleep 10;
          chmod +x /init-kafka.sh;
          /init-kafka.sh;
          wait $pid
        "

    sensor_producer:
      build: ./SensorProducer
      volumes:
        - ./SensorProducer:/app
      depends_on:
        kafka_broker:
          condition: service_healthy
        data_sensor_manager:
          condition: service_started
      command: >
        bash -c "sleep 3 && exec python -u producer.py"

    data_sensor_manager:
      build: ./DataSensorManager
      volumes:
        - ./DataSensorManager:/app
      depends_on:
        kafka_broker:
          condition: service_healthy
      command: >
        bash -c "sleep 3 && exec python -u sensor_manager.py"

    alarm_reader:
      build: ./AlarmReader
      volumes:
        - ./AlarmReader:/app
      depends_on:
        kafka_broker:
          condition: service_healthy
      command: >
        bash -c "sleep 3 && exec python -u consumer.py"
      ports:
        - "8081:8081"

    video_streamer:
      build: ./VideoStreamer
      volumes:
        - ./VideoStreamer:/app
      depends_on:
        vision_detector:
          condition: service_healthy
      
      

    vision_detector:
      build: ./VisionDetector
      volumes:
        - ./VisionDetector:/app
      depends_on:
        kafka_broker:
          condition: service_healthy
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8080/health"] 
        interval: 5s     
        timeout: 3s      
        retries: 10      
        start_period: 15s 
      ports:
        - "8080:8080"
      
volumes:
  kafka_data:
    driver: local
        